POSTGRES_USER=postgres
POSTGRES_PASSWORD=CAMBIA_ESTA_PASSWORD
POSTGRES_DB=hotel_park_plaza
POSTGRES_PORT=5433

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=CAMBIA_ESTA_PASSWORD
DB_NAME=hotel_park_plaza

JWT_SECRET=CAMBIA_ESTE_SECRETO
DEMO_STAFF_PASSWORD=CAMBIA_ESTA_CONTRASENA
BACKEND_PORT=3000
FRONTEND_PORT=5173
CUSTOMER_PORT=4173
FRONTEND_URL=http://localhost:5173
CUSTOMER_URL=http://localhost:4173
VITE_API_URL=http://localhost:3000/api
